
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>


<%= render partial: 'layouts/navbar' %>

<section id="banner">
  <div class="banner-slider">
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
  </div>

  <%= image_tag 'static_pages/home/left_arrow.svg', id: 'left-arrow', class: 'slider-arrows' %>
  <%= image_tag 'static_pages/home/right_arrow.svg', id: 'right-arrow', class: 'slider-arrows' %>

  <div id="dots-container">
    <ul id="dot-list">
    </ul>
  </div>
  
</section>

<section id="abount-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="abount-us-title"><span>we design</span> spaces</h2>
        <h2 class="abount-us-title">creating <span>unique experiences</span></h2>
      </div>
    </div>

    <div class="row align-items-end d-flex">
      <div class="col-6">
        <h3>about us</h3>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section id="work">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 id="work-title">work</h2>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <div id="vertical-line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mx-auto">
        <p id="work-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sodales metus, et aliquet erat. Suspendisse sed est rutrum, semper magna quis, tristique ex. <span>Nunc tristique commodo finibus</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <%= link_to 'todos los proyectos', buildings_path, id: 'all-proyects' %>
      </div>
    </div>

    <div class="row" id="categories-background">
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Corporativo</h4>
      </div>
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Corporativo</h4>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'layouts/contact' %>

<% if @first_time %>
  <%= render partial: 'intro' %>
<% end %>

<%= javascript_tag defer: 'defer' do -%>

//  var numslider = $(".item-container").length;
//  for(var i = 0; i< numslider;i++){
//    $('#dot-list').append('<li class="dot" id="dot-'+i+'"></li>');
//  }

  $('.banner-slider').slick({
    autoplay: false,
    infinite: true,
    dots: false,
    arrows: false
  });

//  $('#left-arrow').click(function() {
//    $('.banner-slider').slick('slickPrev');
//  });
//
//  $('#right-arrow').click(function() {
//    $('.banner-slider').slick('slickNext');
//  });
//
//  var currentSlide = $('.banner-slider').slick('slickCurrentSlide');
//
//  $('#dot-'+currentSlide).addClass('active');
//
//  $('.banner-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
//    $('.dot').removeClass('active');
//    $('#dot-'+currentSlide).addClass('active');
//  });

<% end -%>
  
