<%= render partial: 'layouts/navbar' %>

<section id="banner">
  <div class="banner-slider">
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
  </div>

  <%= image_tag 'static_pages/home/left_arrow.svg', id: 'left-arrow', class: 'slider-arrows' %>
  <%= image_tag 'static_pages/home/right_arrow.svg', id: 'right-arrow', class: 'slider-arrows' %>

  <div id="dots-container">
    <ul id="dot-list">
    </ul>
  </div>
  
</section>

<section id="abount-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="abount-us-title"><span>we design</span> spaces</h2>
        <h2 class="abount-us-title">creating <span>unique experiences</span></h2>
      </div>
    </div>

    <div class="row align-items-end d-flex">
      <div class="col-6">
        <h3>about us</h3>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section id="work">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 id="work-title">work</h2>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <div id="vertical-line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mx-auto">
        <p id="work-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sodales metus, et aliquet erat. Suspendisse sed est rutrum, semper magna quis, tristique ex. <span>Nunc tristique commodo finibus</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <%= link_to 'todos los proyectos', '', id: 'all-proyects' %>
      </div>
    </div>

    <div class="row" id="categories-background">
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Corporativo</h4>
      </div>
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Residencial</h4>
      </div>
      <div class="col-4 category">
        <h4>Comercial</h4>
      </div>
      <div class="col-4 category">
        <h4>Corporativo</h4>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <h2 id="contact-title">contact</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 offset-1">
        <div class="row">
          <div class="col">
            <%= image_tag 'icons/arroba.svg', id: 'contact-arroba', class: 'contact-icons' %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-center text-white contact-texts">franco@ruitecto.mx</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 offset-3">
            <%= image_tag 'icons/face.svg', class: 'contact-icons' %>
          </div>
          <div class="col-2">
            <%= image_tag 'icons/instagram.svg', class: 'contact-icons' %>
          </div>
          <div class="col-2">
            <%= image_tag 'icons/linkedin.svg', class: 'contact-icons' %>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-md-4 offset-md-0">
        <%= form_tag contact_path, method: :post do %>
          <div class="row border-bottom">
            <div class="col border-ri">
              <%= text_field_tag 'name', nil, class: 'form-control contact-inputs', placeholder: 'Name' %>
            </div>
            <div class="col">
              <%= text_field_tag 'email', nil, class: 'form-control contact-inputs', placeholder: 'Email' %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= text_area_tag 'comments', nil, class: 'form-control contact-comments', placeholder: 'Comments' %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= button_tag type: 'submit', id: 'send-button' do %>
                <%= image_tag 'icons/send.svg' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <%= image_tag 'icons/phone.svg', id: 'contact-arroba', class: 'contact-icons' %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="text-center text-white contact-texts">917-345-8352</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>