
<%= render partial: 'layouts/navbar' %>

<section id="banner">
  <div class="banner-slider">
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
  </div>

  <%= image_tag 'static_pages/home/left_arrow.svg', id: 'left-arrow', class: 'slider-arrows' %>
  <%= image_tag 'static_pages/home/right_arrow.svg', id: 'right-arrow', class: 'slider-arrows' %>

  <div id="dots-container">
    <ul id="dot-list">
    </ul>
  </div>
  
</section>

<section id="abount-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col pad-top-5 pad-bot-5">
        <h2 class="abount-us-title"><span>we design</span> spaces</h2>
        <h2 class="abount-us-title">creating <span>unique experiences</span></h2>
      </div>
    </div>

    <div class="row align-items-end d-flex">
      <div class="col-10 mx-auto">
        <div class="row pad-bot-5 d-none d-sm-block">
          <div class="col-5" id="logo-puntos">
            <%= image_tag "static_pages/home/logo_points.svg", class: "img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-10 mx-auto col-sm-5">
            <h3 class="text-uppercase text-white">about us</h3>
            <br>
            <p class=" pad-bot-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quaerat voluptatibus et recusandae quos ab doloribus dolores quasi veniam delectus officiis culpa totam, molestiae veritatis blanditiis numquam dicta est nostrum.</p>
            <div class="row">
              <div class="col-7 col-sm-5 border-top pad-top-5">
                <ul class="lista">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-5 d-none d-sm-block" id="img-about">
            <%= image_tag "static_pages/home/OFFICE.jpg", class: "img-fluid"%>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section id="work">
  <div class="container-fluid">
    <div class="row">
      <div class="col pad-top-5">
        <h2 id="work-title">work</h2>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <div id="vertical-line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-sm-6 mx-auto">
        <p id="work-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sodales metus, et aliquet erat. Suspendisse sed est rutrum, semper magna quis, tristique ex. <span>Nunc tristique commodo finibus</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <%= link_to 'todos los proyectos', buildings_path, id: 'all-proyects' %>
      </div>
    </div>

    <script>
      $( document ).ready(function() {
        $('.cat-1').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/RESIDENCIAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-2').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/COMMERCIAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-3').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/OFFICE.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-4').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/COMMERCIAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-5').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/EDUCATION.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-6').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/CULTURAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-7').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/PUBLIC.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-8').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/RESIDENCIAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });
        $('.cat-9').hover(function(){
          var imagePath = "<%= asset_url   "static_pages/home/COMMERCIAL.jpg" %>";
          $('#categories-background').css('background-image', "url(" + imagePath + ")");
        });

      });

    </script>
    <div class="row" id="categories-background">
      <div class="col-6 col-sm-4 category cat-1">
        <h4>Residential</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-2">
        <h4>Commercial</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-3">
        <h4>Office</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-4">
        <h4>Health</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-5">
        <h4>Education</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-6">
        <h4>Cultural</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-7">
        <h4>Public</h4>
      </div>
      <div class="col-6 col-sm-4 category cat-8">
        <h4>All</h4>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'layouts/contact' %>

<% if @first_time %>
<%= render partial: 'intro' %>
<% end %>

<%= javascript_tag defer: 'defer' do -%>

var numslider = $(".item-container").length;
for(var i = 0; i< numslider;i++){
$('#dot-list').append('<li class="dot" id="dot-'+i+'"></li>');
}

$('.banner-slider').slick({
autoplay: false,
infinite: true,
dots: false,
arrows: false
});

$('#left-arrow').click(function() {
$('.banner-slider').slick('slickPrev');
});

$('#right-arrow').click(function() {
$('.banner-slider').slick('slickNext');
});

var currentSlide = $('.banner-slider').slick('slickCurrentSlide');

$('#dot-'+currentSlide).addClass('active');

$('.banner-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
$('.dot').removeClass('active');
$('#dot-'+currentSlide).addClass('active');
});

<% end -%>

