<%= render partial: 'layouts/navbar' %>

<section id="projects-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="all-projects-title">all projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="col vertical-line"></div>
    </div>

    <div class="row">
      <div class="col-9 mx-auto">
        <p id="all-projects-description" class="gray">
        </p>
      </div>
    </div>
  </div>
</section>

<section id="kinds">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 mx-auto">
        <div class="row">
          <% @build_hash.keys.each do |key| %>
            <div class="col-12 col-md">
              <%= content_tag :h4, key.singularize, class: "text-center kinds-titles kind-#{key}", data: {target: key} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11 mx-auto">
        <% @build_hash.each do |kind, arr| %>
          <%= content_tag :div, class: "row kind-row kind-#{kind} my-4" do %>
            <% arr.each do |building| %>
              <div class="col-sm-4 col-12 img-build">
                <%= link_to building_path(building) do %>
                  <%= image_tag building.thumbnail, class: 'img-fluid w-100 img-build my-3' %>
                  <p class="build-text got-thi"><%= building.name.capitalize %></p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'layouts/contact' %>

