
<%#= render partial: 'layouts/navbar_transparent' %>

<section id="main-slider">
  <div class="slider-fullscreen">

    <% @building.images.each do |link| %>
      <div class="item-container">
        <%= image_tag link, class: 'slider-img' %>
      </div>
    <% end %>

  </div>

  <div id="slider-text">
    <p id="slider-kind"><%= @building.kind.singularize %> | <%= @building.year %></p>
    <h1 id="building-name"><%= @building.name %></h1>
    <p id="slider-description">
      <%= @building.description %>
      <%= @building.year %>
      <%= @building.location %>
      <%= @building.area %>
    </p>
  </div>
</section>

<section id="similar-projects">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-1">
        <h4 id="similar-projects-title">other <%= @building.kind.singularize %> projects</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <% @similar.each do |building| %>
            <div class="col-4">
              <%= link_to building_path(building) do %>
                <%= image_tag building.thumbnail, class: 'img-fluid w-100 slider-img m-md-4' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</section>

<%= render partial: 'layouts/contact' %>
