<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render partial: 'layouts/navbar_transparent' %>
<section id="main-slider-2">
  <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="slider-fullscreen-2">
        <% @building.display_fullscreen_images.each do |image| %>
        <div class="item-container">
          <%= building_image_tag image, resize_to_limit: [2400, 2400], loading: "lazy", class: "slider-img", alt: "Aldo Franco building" %>
        </div>
        <% end %>
      </div>
      <%= image_tag "icons/close.svg", id: "icon-close"%>
    </div>
  </div>
</section>
<section id="main-slider">
  <%= image_tag "icons/expandir.svg", id: "expandir-icon", class: "full-slider"%>
  <%= image_tag "static_pages/home/right_arrow.svg", id: "flecha-derecha"%>
  <%= image_tag "static_pages/home/left_arrow.svg", id: "flecha-izquierda"%>
  <div class="slider-fullscreen">

    <% @building.display_project_images.each do |image| %>
    <div class="item-container carousel-image">
      <%= building_image_tag image, resize_to_limit: [1800, 1800], class: "slider-img", alt: "Aldo Franco building" %>
    </div>
    <% end %>
  </div>

  <div id="slider-text">
    <p id="slider-kind"><%= @building.kinds.map { |kind| kind.name.singularize }.join(' | ') %> | <%= @building.year %></p>
    <h1 id="building-name"><%= @building.name %></h1>
    <p id="slider-description">
      <%= @building.description %>
      <%#= @building.year %>
      <%= @building.location %>
      <%= @building.area %>
    </p>
  </div>
  <!-- <div id="mini-fotos" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
    <%# @building.images.each do |link| %>
    <div class="item-container">
      <%#= image_tag link, class: 'img-fluid'%>
    </div>
    <%# end %>
  </div> -->
</section>

<section id="similar-projects">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm-4 mx-auto text-center" style="margin-bottom: 6%;">
        <div class="row">
          <%= link_to "Back to All", buildings_path, id: 'back-to-all', class: "btn-white" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col offset-1">
        <!-- <h4 id="similar-projects-title">other <%#= @building.kind.singularize %> projects</h4> -->
        <% if @similar.length > 0  %>
          <h4 id="similar-projects-title">other similar projects</h4>
        <% end  %>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <% @similar.each do |building| %>
          <div class="col-sm-4 col-12 img-build mar-bot">
            <%= link_to building_path(building) do %>
            <%= building_image_tag building.display_project_images.first, resize_to_limit: [900, 900], loading: "lazy", class: "slider-img m-md-4 img-fluid w-100", alt: "Aldo Franco building" %>
            <p class="build-text got-thi"><%= building.name.capitalize %></p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</section>

<%= render partial: 'layouts/contact' %>
