<section id="footer">
	<div class="container-fluid inherit">
		<div class="row align-items-center inherit">
			<div class="col-11 mx-auto">
				<div class="row align-items-center text-center text-footer">
					<div class="col-6 mx-auto col-sm-1 d-none d-md-block">
						<%= image_tag "icons/logov2.svg", class: "img-fluid", id: "logo-footer" %>
					</div>
					<div class="col-12 col-sm-4 text-center">
						<p class="direction-foo">
							Avenida de las Fuentes #41-A Interior 604, Lomas de Tecamachalco, Naucalpan Estado de México, C.P. 53950 Tel:72-61-71-09
						</p>
					</div>
					<div class="col-12 col-sm-2">
						<p class="text-center derechos">All rights reserved Aldo Franco ®</p>
					</div>
					<div class="col-12 d-none d-lg-block col-sm-5">
						<div class="row footer-menu ">
							<div class="col-2">
								<p><%= link_to 'Home', root_path, class: "footer-nav-link" %></p>
							</div>
							<div class="col-2">
								<%= link_to "About", root_path + "#abount-us", class: "footer-nav-link" %>
							</div>
							<div class="col-2">
								<%= link_to "Work", root_path + "#work", class: "footer-nav-link" %>
							</div>
							<div class="col-2">
								<%= link_to "Jobs", root_path + "#contact", class: "footer-nav-link" %>
							</div>
							<div class="col-2">
								<p><%= link_to "Team", about_path, class: "footer-nav-link" %></p>
							</div>
							<div class="col-2">
								<%= link_to "Contact", root_path + "#contact", class: "footer-nav-link" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>